body {
    background-color: #E5E5E5;
}

#mainDiv{
    float: left;
    width: 50%;
    margin-right: 300px;
    margin-left: 50px;
}

#heeed{
	font-size: 50px;
    margin: auto;
    width: 50%;
}

#HeadText{
    text-align: center;
}

#subtext{
	font-size: 20px;
	vertical-align: top;
    text-align: center;
}

.form-control{
    border-radius: 50px;
}

#bttn-calc{
    background-color: #14213D;
}

#bttn-calc:hover{
	background-color: #0f2b63;
}
/*firefox*/
input[type="range"]::-moz-range-thumb {
    background-color: #FCA311; 
}

input[type="range"]::-moz-range-progress {
    background-color: #14213D; 
}

input[type="range"]::-moz-range-track {
    background-color: #FFFFFF; 
}

#UltimateTime{
    font-style: bold;
    font-size: 24;
}

.result{
    float: right;
    margin: 10px;
}

.card-text{
    float: left;
    margin: 10px;
}

#card-text2{
    margin-right: 90px;
}

#NavBar{
	width: 100%;
	background-color: #FCA311;
}

.HyperText{
	text-decoration: none;
	color: black;
}

#netIncome{
    float: right;
}

#independentTime{
    font-style: bold;
    font-size: 24px;
}

#error{
    color: red;
    font-style: italic;
}

#advice{
    color: grey;
    font-style: italic;
    font-size: 10px;
    position: fixed;
    bottom: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}