#heeed{
	font-size: 50px;
	margin: auto;
	padding: 2px;
	width: 50%;
}

#HeadText{
	text-align: center;
}

#logo{
	width: 8%;
	/*vertical-align: top;*/
}

#subtext{
	font-size: 20px;
	vertical-align: top;
	text-align: center;
}

#TextDiv{
	font-size: 24px;
	margin: auto;
	width: 60%;
	padding: 10px;
}

#ButtonDiv{
	margin: auto;
	width: 60%;
	padding: 10px;
}

.mybtn{
	width: 100%;
	height: 50px;
	text-align: center;
	font-size: 22px;
}


#CardDiv{
	float: left;
}

#CardDiv2{
	float: left;
	margin-left: 100px;
	margin-right: 100px;
}

#CardDiv3{
	float: left;
}

#CardsDiv{
	margin: auto;
	width: 58%;
}

#NavBar{
	width: 100%;
	background-color: aqua;
}

.HyperText{
	text-decoration: none;
	color: black;
}