@font-face{
	font-family: 'Cafe';
	src: url("CatCafe.ttf");
}


body{
	background-color: rgba(38, 77, 115, 1);
	font-family: Cafe;
}

#sidebar{
	border: 3px;
}

#lines{
	vertical-align: top;
	width: 100%;
}

#subtext{
	font-size: 20px;
	vertical-align: top;
}
#sideMenu{
	font-family: Cafe;
	font-size: 35px;
	border-collapse: collapse;
	border-spacing: 4px;
}

.menulink{
	text-decoration: none;
}

aside{
	width: 10%;
	float: right;
	box-shadow: inset;
	padding-left: .5rem;
	margin-left: .5rem;
	vertical-align: top;
}

#heeed{
	font-family: Cafe;
	font-size: 50px;
}
#logo{
	width: 8%;
	/*vertical-align: top;*/
}

#subtext{
	font-size: 20px;
	vertical-align: top;
}

#Table{
	vertical-align: top;
}

caption{
	font-size: 30px;
}